# Worksheet 00

Name: Tian Tan 
UID: U68023245

### Topics

- course overview
- productive programming
- python review

### Course Overview

a) Why are you taking this course?

I want to do more data science research. This course can strengthen my practical ability and learn how to use relevant tools efficiently and correctly.

b) What are your academic and professional goals for this semester?

In addition to completing the corresponding required courses, I hope to increase my practical ability and experience in industrial projects. Such as coding style, project architecture, and software development life cycle, etc.

c) Do you have previous Data Science experience? If so, please expand.

Yes, I do. Last semester, I worked as a research assistant at BU's Brain Imaging and Informatics Lab. I was involved in building machine learning/deep learning classifier on multi-modal dataset combining neuroimaging (MRI) data, etc. I learned how to reduce the dimensionality of data, how to work with datasets. I hope it helps.

d) Data Science is a combination of programming, math (linear algebra and calculus), and statistics. Which of these three do you struggle with the most (you may pick more than one)?

I think it might be statistics or programming.

### Productive Programming

a) What is a drawback of the top down approach?

ANS: \\
In top down, we need to decompose the complex problem into some sub-problems,  and this process is also called as modularization. However, The decomposition of the modules is restricted after achieving a certain level. And until a certain set of modules have been integrated, it may not be possible to observe meaningful system functions.

b) What is a drawback of the bottom up approach?

ANS: \\
Sometimes, we cannot observe system level functions from a partly integrated system. And we cannot observe the system level functions until the top level part is in place. The program as an entity does not exist until the last module is added.

c) What are 3 things you can do to have a better debugging experience?

ANS: \\
1, We should read the error clearly and re-read our code. \\
2, Sanity check where we can. For example, we can write test cases to detect each small function. \\
3, Look online for some help.

### Python review

#### Lambda functions

Python supports the creation of anonymous functions (i.e. functions that are not bound to a name) at runtime, using a construct called `lambda`. Instead of writing a named function as such:

In [37]:
def f(x):
    return x**2
f(8)

64

One can write an anonymous function as such:

In [38]:
(lambda x: x**2)(8)

64

A `lambda` function can take multiple arguments:

In [35]:
(lambda x, y : x + y)(2, 3)

5

The arguments can be `lambda` functions themselves:

In [36]:
(lambda x : x(3))(lambda y: 2 + y)

5

a) write a `lambda` function that takes three arguments `x, y, z` and returns `True` only if `x < y < z`.

In [15]:
Compare = (lambda x, y, z : x < y < z)
print(Compare(1,2,3))

True

b) write a `lambda` function that takes a parameter `n` and returns a lambda function that will multiply any input it receives by `n`.

In [9]:
# (lambda n : n(5))(lambda x : x * x)
(lambda n : lambda x : x * n)(3)(2)

6

#### Map

`map(func, s)`

`func` is a function and `s` is a sequence (e.g., a list). 

`map()` returns an object that will apply function `func` to each of the elements of `s`.

For example if you want to multiply every element in a list by 2 you can write the following:

In [16]:
mylist = [1, 2, 3, 4, 5]
mylist_mul_by_2 = map(lambda x : 2 * x, mylist)
print(list(mylist_mul_by_2))

[2, 4, 6, 8, 10]

`map` can also be applied to more than one list as long as they are the same size:

In [17]:
a = [1, 2, 3, 4, 5]
b = [5, 4, 3, 2, 1]

a_plus_b = map(lambda x, y: x + y, a, b)
list(a_plus_b)
# print(a_plus_b) # >>> <map object at 0x7f73122320d0> will return an object address

[6, 6, 6, 6, 6]

c) write a map that checks if elements are greater than zero

In [18]:
c = [-2, -1, 0, 1, 2]
gt_zero = map(lambda x : x > 0, c)
list(gt_zero)

[False, False, False, True, True]

d) write a map that checks if elements are multiples of 3

In [19]:
d = [1, 3, 6, 11, 2]
mul_of3 = map(lambda x : x % 3 == 0, d)
list(mul_of3)

[False, True, True, False, False]

#### Filter

`filter(function, list)` returns a new list containing all the elements of `list` for which `function()` evaluates to `True.`

e) write a filter that will only return even numbers in the list

In [24]:
e = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
evens = filter(lambda x : x % 2 == 0, e)
list(evens)
# print(evens) # >>> also return an object

[2, 4, 6, 8, 10]

#### Reduce

`reduce(function, sequence[, initial])` returns the result of sequencially applying the function to the sequence (starting at an initial state). You can think of reduce as consuming the sequence via the function.

For example, let's say we want to add all elements in a list. We could write the following:

In [23]:
from functools import reduce

nums = [1, 2, 3, 4, 5]
sum_nums = reduce(lambda acc, x : acc + x, nums, 0) # 0 initial value for accï¼Œx is element in nums
print(sum_nums)

15

Let's walk through the steps of `reduce` above:

1) the value of `acc` is set to 0 (our initial value)
2) Apply the lambda function on `acc` and the first element of the list: `acc` = `acc` + 1 = 1
3) `acc` = `acc` + 2 = 3
4) `acc` = `acc` + 3 = 6
5) `acc` = `acc` + 4 = 10
6) `acc` = `acc` + 5 = 15
7) return `acc`

`acc` is short for `accumulator`.

f) Using `reduce` write a function that returns the factorial of a number. (recall: N! (N factorial) = N * (N - 1) * (N - 2) * ... * 2 * 1)

In [26]:
factorial = lambda x : reduce(lambda a, b : a * b, range(1, x + 1), 1)
factorial(10) # 10

3628800

g) Using `reduce` and `filter`, write a function that returns all the primes below a certain number

In [34]:
# sieve = lambda x : reduce(lambda i, n : i if 0 in [n%x for x in i] else i+[n], range(2, x + 1), [])
# print(sieve(100))
# primes = filter(lambda prime: all(prime%num != 0 for num in range(2, prime)), range(2,100))
# print(list(primes))

sieve = lambda x : reduce(lambda acc, y : list(filter(lambda z : True if z==y else z%y != 0, acc)), range(2, x), range(2, x))
print(sieve(100))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

### What is going on?

For each of the following code snippets, explain why the output is what it is:

In [51]:
class Bank:
  def __init__(self, balance):
    self.balance = balance
  
  def is_overdrawn(self):
    return self.balance < 0

myBank = Bank(100)
# print(myBank.is_overdrawn())
# youBank = Bank
# print(youBank.balance, youBank.is_overdrawn)


if myBank.is_overdrawn:
# if myBank.is_overdrawn():
  print("OVERDRAWN")
else:
  print("ALL GOOD")

OVERDRAWN

ANS: \\
Since in the 'if' statement, the is_overdrawn function is called without brackets, then the function itself is called, which is the entire function body, a function object, and there is no need to wait for the function to return. \\
Whether the return value is True or False, the function object truly exists, so the 'if' statement will be True and it will print "OVERDRAWN".

In [53]:
for i in range(4):
    print(i)
    i = 10
    # print(i)

0
1
2
3

ANS: \\
Modifying the index variable 'i' in the 'for' loop is only valid for the current loop body, and the index variable will be reassigned in the next loop. And range() is an iterator, it only outputs information, but cannot modify the content of the iterator. \\
Thus although 'i' is modified in the current loop body (i = 10), in the next loop, 'i' will be reassigned to the corresponding value in range().

In [63]:
row = [""] * 3 # row i['', '', '']
board = [row] * 3
print(board) # [['', '', ''], ['', '', ''], ['', '', '']]
board[0][0] = "X"
print(board)

[['', '', ''], ['', '', ''], ['', '', '']]
[['X', '', ''], ['X', '', ''], ['X', '', '']]

ANS: \\
The 'list' belongs to a mutable object, so when it is assigned a value, a soft copy will be performed, that is, only the addresses of the elements in the container are copied instead of the value, and if one of them is changed, the corresponding value will also change. \\
The [row]*3 here is actually 3 repeated references to the 'row' memory address, that is, board[0], board[1] and board[2] are actually the same list.

In [67]:
funcs = []
results = []
for x in range(4):
    def some_func():
        return x
    funcs.append(some_func)
    # print(funcs)
    results.append(some_func())  # note the function call here
# print(x)
funcs_results = [func() for func in funcs]
print(results) # [0,1,2]
print(funcs_results)

[0, 1, 2, 3]
[3, 3, 3, 3]

ANS: \\
It's similar with the first question above. When there are no brackets, the function itself is called and won't return. So 'funcs' is a list contains 4 'some_func' function objects. With brackets, the execution result of the function is called. Thus print(results) will get [0,1,2,3]. \\
At the same time, after 'for' loop, the value of the index variable 'x' is finally modified to 3. Thus when we call the function with brackets again 'func()', it will take x=3 as the parameter and return 3. Then we get [3,3,3,3].

In [77]:
f = open("./data.txt", "w+")
f.write("1,2,3,4,5")
f.close()

nums = []
# with open("./data.txt", "r+") as f:
with open("./data.txt", "w+") as f:
  lines = f.readlines()
  # print(lines)
  for line in lines:
    nums += [int(x) for x in line.split(",")]

print(sum(nums))

0

ANS: \\
'w+' creates a new read and write, it will clear the file content to zero. Thus we will get 0.